/* Change styles on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}
@media screen and (max-width: 1020px) {
    .logotext2, .logotext3{
        display: none;
    }
    .logindiv > button{
        padding: 7px 10px;
        font-size: 16px;
    }
    .avatarbutton{
        display: block;
    }
    .logindiv > button{
        display: none;
    }

}
@media screen and (max-width: 480px) {
    .logotext2, .logotext3{
        display: none;
    }
    .logindiv > button{
        padding: 7px 10px;
        font-size: 16px;
    }
    .topdiv{
        display: flex;
        flex-direction: column;
    }

}